.button {
  padding: 12px 0;
  font: var(--font-link);

  &_type {
    &_primary {
      color: var(--white);
      background: var(--primary);
      border-radius: 14px;
      border: none;

      &:hover {

      }
    }

    &_clear {
      background: none;
      border: none;
      color: var(--primary);
    }
  }
}
