:root {
  // colors
  --primary: #3369f3;
  --primary-20: #669cff;
  --active-chat: #bdd5ff;
  --secondary: #999999;
  --secondary-20: #cccccc;
  --text-base: #1e1e1e;
  --error: #ff2f2f;
  --error-20: #ff6262;
  --white: #fff;
  --bg-base: #fff;
  --bg-secondary: #efefef;
  --bg-secondary-20: #bcbcbc;
  --bg-secondary-50: #7f7f7f;
}
