:root {
  // colors
  --primary: #3369f3;
  --primary-20: rgba(102, 156, 255, 0.8);
  --active-chat: #bdd5ff;
  --secondary: #999999;
  --secondary-20: rgba(153, 153, 153, 0.8);
  --text-base: #1e1e1e;
  --text-base-60: rgba(30, 30, 30, 60%);
  --error: #ff2f2f;
  --error-20: #ff6262;
  --white: #fff;
  --bg-base: #fff;
  --bg-secondary: #efefef;
  --bg-back-secondary: #fbfbfb;
  --bg-secondary-20: #bcbcbc;
  --bg-secondary-50: #7f7f7f;

  // typography
  --font-family-main: "Fira Sans", system-ui, avenir, helvetica, arial, sans-serif;
  --font-size-h1: 6rem;
  --font-line-h1: 6.75rem;
  --font-h1: 500 var(--font-size-h1) / var(--font-line-h1) var(--font-family-main);
  --font-size-h2: 4.5rem;
  --font-line-h2: 5rem;
  --font-h2: 500 var(--font-size-h2) / var(--font-line-h2) var(--font-family-main);
  --font-size-h3: 2.5rem;
  --font-line-h3: 3rem;
  --font-h3: 500 var(--font-size-h3) / var(--font-line-h3) var(--font-family-main);
  --font-size-h4: 2.25rem;
  --font-line-h4: 2.75rem;
  --font-h4: 500 var(--font-size-h4) / var(--font-line-h4) var(--font-family-main);
  --font-size-navigation: 1.5rem;
  --font-line-navigation: 2rem;
  --font-navigation: 500 var(--font-size-navigation) / var(--font-line-navigation) var(--font-family-main);
  --font-size-links: 1.25rem;
  --font-line-links: 2rem;
  --font-links: 500 var(--font-size-links) / var(--font-line-links) var(--font-family-main);
  --font-size-text: 1.25rem;
  --font-line-text: 2rem;
  --font-text: 400 var(--font-size-text) / var(--font-line-text) var(--font-family-main);
  --font-text-medium: 500 var(--font-size-text) / var(--font-line-text) var(--font-family-main);
  --font-text-bold: 700 var(--font-size-text) / var(--font-line-text) var(--font-family-main);
  --font-size-label: 1rem;
  --font-line-label: 1.25rem;
  --font-label: 400 var(--font-size-label) / var(--font-line-label) var(--font-family-main);
  --font-label-medium: 600 var(--font-size-label) / var(--font-line-label) var(--font-family-main);
  --font-size-label-mini: 0.625rem;
  --font-line-label-mini: 1rem;
  --font-label-mini: 400 var(--font-size-label-mini) / var(--font-line-label-mini) var(--font-family-main);

  // animation
  --hover-transition: 0.3s;
  --scale-animation: 0.96;
}
