.form {
  &__input-wrapper {
    position: relative;
    font: var(--font-label);
    width: 100%;
  }

  &__label {
    position: absolute;
    top: 0.313vw;
    left: 0;
    transition: var(--hover-transition);
    color: var(--secondary);
  }

  &__input {
    width: 100%;
    @include padding(8, 'top');
    @include padding(8, 'bottom');
    border: none;
    border-bottom: 2px solid var(--primary);
    transition: var(--hover-transition);

    &:hover {
      border-color: var(--primary-20);
    }

    &:focus-visible {
      outline: none;
      border-color: var(--primary-20);

      ~ .form__label {
        color: var(--primary);
      }
    }

    &::placeholder {
      color: var(--secondary);
      transition: var(--hover-transition);
    }

    &:not(:focus-visible).form__input::placeholder {
      opacity: 0;
    }

    &:focus-visible,
    &:not(:placeholder-shown).form__input:not(:focus) {
      ~ .form__label {
        font: var(--font-label-mini);
        top: -12px;
      }
    }

    &:focus-visible.form__input:placeholder-shown {
      color: var(--error);
    }
  }
}
