@mixin form {
  .form {
    @include padding(40);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__fieldset {
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include gap(32, "row");
    }

    &__legend {
      margin: 0 auto;
      @include margin(40, "bottom");
      font: var(--font-h3);
    }

    &__button-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      @include gap(16);
      @include margin(40, "top");
    }
  }
}
